.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
    font-size: 1.46rem;
    padding-top: 0.5rem;
}

.talk {

    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}